body {
    font-family: Arial, sans-serif;
    background-color: aquamarine;
    background-image: url("https://img.freepik.com/free-photo/christmas-beer-table-still-life_23-2149757198.jpg?w=740&t=st=1678161676~exp=1678162276~hmac=d5daf9d6178086832c8a61a52603c2955f637be839999d306d929a98a26817ab");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.8;
    
    
}
h1{
    text-align: center;
    color:antiquewhite
}

h3{
    color: aqua;
}

label {
    font-size: 1.2rem;
}

input[type="text"] {
    font-size: 1.2rem;
    padding: 0.5rem;
    margin-right: 1rem;
}

button {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
}

button:hover {
    background-color: #3E8E41;
}

#results {
    margin-top: 2rem;
}

.brewery {
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,0.2);
}

.brewery h3 {
    margin-top: 0;
}

.brewery p {
    margin: 0;
}

.brewery p:first-child {
    font-weight: bold;
}
